div {

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vm;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: calc(10px + 3vmin);
  font-size: calc(10px + 2vmin);
  color: #806F49;
}
