.App {
  text-align: center;
}
.Date {
  display: flex;
  background-color: #282c34;
  color: #806F49;
  font-size: calc(3vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: #806F49;
}
